<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>

  <body id="page-top">
    <!-- Navigation-->
    <% include ./partials/navmenu %>

    <section id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">
          Update Contact
        </h2>
        <hr class="star-dark mb-3" />
        <div class="row">
          <div class="col-md-4 mx-auto"></div>
          <div class="col-md-4 mx-auto">
            <form
              name="updateExec"
              id="updateExec"
              action="/updateExec"
              method="POST"
            >
                <input
                type="hidden"
                name="updateId"
                class="form-control"
                id="updateId"
                aria-describedby="emailHelp"
                value=<%=contact._id%>
                />
              <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input
                  type="text"
                  name="firstName"
                  class="form-control"
                  id="firstName"
                  aria-describedby="emailHelp"
                  value=<%=contact.firstName%>
                />
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input
                  type="text"
                  name="lastName"
                  class="form-control"
                  id="lastName"
                  aria-describedby="emailHelp"
                  value=<%=contact.lastName%>
                />
              </div>
              <div class="mb-3">
                <label for="contactNumber" class="form-label"
                  >Contact Number</label
                >
                <input
                  type="text"
                  name="contactNumber"
                  class="form-control"
                  id="contactNumber"
                  aria-describedby="emailHelp"
                  value=<%=contact.contactNumber%>
                />
              </div>
              <div class="mb-3">
                <label for="emailAddress" class="form-label"
                  >Email Address</label
                >
                <input
                  type="text"
                  name="emailAddress"
                  class="form-control"
                  id="emailAddress"
                  aria-describedby="emailHelp"
                  value=<%=contact.emailAddress%>
                />
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea
                  class="form-control"
                  id="message"
                  name="message"
                  rows="3"
                  value=<%=contact.message%>
                ></textarea
                >
              </div>
              <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-primary mr-2">Update</button>
                <a class="btn btn-secondary" href="/contactsList">Cancel</a>
              </div>
            </form>
            <br />
            <div class="text-center">
                <form
                    name="deleteContact"
                    id="deleteContact"
                    action="/deleteContact"
                    method="POST"
                >
                    <input
                        type="hidden"
                        name="deleteId"
                        class="form-control"
                        id="deleteId"
                        aria-describedby="emailHelp"
                        value=<%=contact._id%>
                    />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
          </div>
          <div class="col-md-4 mx-auto"></div>
        </div>
      </div>
    </section>

    <!--Footer-->
    <% include ./partials/footer %>
  </body>
</html>
